{{#> layout}}
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, porro facilis. At, vitae? Deleniti officia accusantium odit mollitia incidunt minus eum fugit! Odio molestiae natus minus distinctio aperiam, iste fugiat.</p>
    </section>
{{/layout}}