<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi AlmaSence</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Bienvenida a mi AlmaSence</h1>
    <div class="d-flex">
        <a class="btn btn-link" href="/productos">Ver productos</a>
        <a class="btn btn-link" href="/crear">Añadir producto</a>
    </div>
  </body>
</html>