{{#> main title="Crear nuevo lanzamiento - Music Example"}}
<div class="d-grid align-items-center container p-5">
<form
      class="p-5 border border-1 border-primary shadow rounded-5 bg-light"
      action="/api/nuevo-lanzamiento"
      method="post"
    >
      <label for="artista" class="form-label">
        <h1>Nuevo lanzamiento</h1>
      </label>
      <div class="mb-3">
        <label for="artista" class="form-label">Artista</label>
        <input
          type="text"
          class="form-control"
          id="artista"
          name="artista"
          placeholder="Dua Lipa"
        />
      </div>
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo album</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          placeholder="Que me lleve el diaulo"
        />
      </div>
      <div class="mb-3">
        <label for="genero" class="form-label">Genero</label>
        <input
          type="text"
          class="form-control"
          id="genero"
          name="genero"
          placeholder="metal"
        />
      </div>
      <button class="btn btn-primary btn-lg w-100">Lanzar</button>
    </form>
</div>
{{/main}}